name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Rust Cache
      # You may pin to the exact commit or the version.
      # uses: Swatinem/rust-cache@a9bca6b5a60ce11e166697c7b09cfa308d92746a
      uses: Swatinem/rust-cache@v1.2.0
    - name: Set nightly Rust
      run: rustup toolchain install nightly && rustup default nightly
    - name: Setup Rust target toolchain
      run:  rustup target add riscv64gc-unknown-none-elf && cargo install cargo-binutils
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
